@model IEnumerable<pas_pertamina.Models.Rute>

@{
    ViewData["Title"] = "Index";
}

<ol class="breadcrumb">
    <li><a href="#">Settings</a></li>
    <li class="active">List Rute</li>
</ol>
<h4 class="c-grey-900 mB-20">Data Rute</h4>

<p>
    <a asp-action="Create" class="btn btn-info pull-right"><i class="fa fa-plus"></i> Tambah Data</a><br /><br />
</p>
<table class="table table table-striped table-hover table-bordered" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%">
    <thead>
        <tr class="header-table">
            <th class="col-md-1">
                No.
            </th>
            <th>
                Nama Kapal
            </th>
            <th>
                Asal Pelabuhan
            </th>
            <th>
                Tujuan Pelabuhan
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seatime)
            </th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0; }
        @foreach (var item in Model)
        {
            { i = i + 1; }
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdkapalNavigation.Namakapal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdasalNavigation.Namapelabuhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdtujuanNavigation.Namapelabuhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seatime)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Idrute"><i class="fa fa-edit"></i>Ubah</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Idrute"><i class="fa fa-remove"></i>Hapus</a>
            </td>
        </tr>
        }
    </tbody>
</table>
