@model IEnumerable<pas_pertamina.Models.Kapal>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namakapal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kapasitas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flowrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jenisangkut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdlisttipekapalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SatuanflowrateNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SatuankapasitasNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namakapal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kapasitas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flowrate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jenisangkut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdlisttipekapalNavigation.Idlisttipekapal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatuanflowrateNavigation.IdListsatuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatuankapasitasNavigation.IdListsatuan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idkapal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idkapal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idkapal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
