@model pas_pertamina.Models.Shipment

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Noshipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Noshipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Arrival)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Berthed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Berthed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unberthed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unberthed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Waiting1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Waiting1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Waiting2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Waiting2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Waiting3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Waiting3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Waiting4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Waiting4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Waiting5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Waiting5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Antrian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Antrian)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nojetty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nojetty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idbantuan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idbantuan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prosesbantuan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prosesbantuan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftDelete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdasalNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdasalNavigation.Idlistpelabuhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdkapalNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdkapalNavigation.Idkapal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdpelabuhanbantuanNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdpelabuhanbantuanNavigation.Idlistpelabuhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdtujuanNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdtujuanNavigation.Idlistpelabuhan)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idshipment" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
