@model IEnumerable<pas_pertamina.Models.Pelabuhan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kodepelabuhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Namapelabuhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jenisproduk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baseline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kodepelabuhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Namapelabuhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jenisproduk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baseline)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idlistpelabuhan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idlistpelabuhan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idlistpelabuhan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
