@model pas_pertamina.Models.ViewShipmenDetail


@{
    ViewData["Title"] = "Simulasi Planner";
}



<ol class="breadcrumb">
    <li><a href="#">Planner</a></li>
    <li class="active">Simulasi Planner</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Simulasi Planner</h4>
            @TempData["message"]
            <div class="alert alert-danger">
                <strong>Perhatian, </strong>pilih terlebih dahulu kapal, asal, tujuan, produk, jumlah produk, satuan sebelum memilih waktu datang
            </div>
            <div id="dataTable_wrapper" class="dataTables_wrapper">
                <form asp-action="Simpan" id="form_simulasi">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <button type="submit" class="btn btn-primary pull-right">Simpan</button>
                    <div class="table-responsive">
                        <table border="0" cellpadding="1" cellspacing="1">
                            <tr>
                                <td>
                                    <select asp-for="Idkapal" class="form-control" asp-items="ViewBag.Idkapal">
                                        <option value="">Pilih Kapal</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <select asp-for="Idasal" class="form-control" asp-items="ViewBag.Idasal">
                                        <option value="">Pilih Asal Pelabuhan</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <select asp-for="Idtujuan" class="form-control" asp-items="ViewBag.Idtujuan">
                                        <option value="">Pilih Tujuan Pelabuhan</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <select asp-for="Proses" class="form-control">
                                        <option value="">Pilih Proses</option>
                                        <option value="Loading">Loading</option>
                                        <option value="Discharge">Discharge</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <select asp-for="Nojetty" class="form-control">
                                        <option value="">Pilih Jetty</option>
                                        <option value="1">Jetty 1</option>
                                        <option value="2">Jetty 2</option>
                                        <option value="3">Jetty 3</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="9">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select asp-for="Idproduk" class="form-control" asp-items="ViewBag.Idproduk">
                                        <option value="">Pilih Produk</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <input asp-for="Jumlah" placeholder="Jumlah Produk" class="form-control" />
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <select asp-for="Idsatuan" class="form-control" asp-items="ViewBag.Idsatuan">
                                        <option value="">Pilih Satuan</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <button type="button" class="btn btn-success pull-right" id="_clickProdukToInput">Simpan Produk</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" role="grid" style="width: 100%">
                            <thead>
                                <tr role="row">
                                    <th>
                                        Arrival
                                    </th>
                                    <th>
                                        Berthed
                                    </th>
                                    <th>
                                        Comm
                                    </th>
                                    <th>
                                        Comp
                                    </th>
                                    <th>
                                        Unberthed
                                    </th>
                                    <th>
                                        Departure
                                    </th>
                                    <th>
                                        IPT &nbsp; &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control arrival" id="arrival_" asp-for="Arrival">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control berthed" id="berthed_" asp-for="Berthed">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="comm" asp-for="Comm" readonly>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="comp" asp-for="Comp" readonly>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="unberthed" asp-for="Unberthed" readonly>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="departure" asp-for="Departure" readonly>
                                    </td>
                                    <td>
                                        <input asp-for="ipt" class="form-control" id="ipt" value="00:00:00" readonly />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="listProdukToInput" style="display:none">

                        <div class="row">
                            <div class="col-md-12">
                                <h3>List Produk <button type="button" id="_clickToProyeksi" class="btn btn-warning">Cek Proyeksi</button></h3>
                            </div>
                        </div>

                    </div>
                </form>
                <div id="dataproyeksi">
                    <div id="loader-proyeksi" style="display:none">Memproses Proyeksi...</div>
                    <div id="result_proyeksi_stok_asal"></div>
                    <div id="result_proyeksi_stok_tujuan"></div>
                </div>
                <hr />

                <br />
                <h4>Pilih Pelabuhan yang akan ditampilkan</h4>
                <form action="" method="GET">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <select name="idpelabuhanbantuan" id="idpelabuhanbi" class="form-control" asp-items="ViewBag.Idasal">
                                    <option value="">Pilih Pelabuhan</option>

                                </select>
                               

                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-sm">Tampilkan</button>
                                <a asp-controller="Simulasi" asp-action="Index" class="btn btn-danger btn-sm" onclick="return confirm('Data yang akan ditampilkan adalah data berdasar pelabuhan user login?')">Reset</a>
                            </div>

                        </div>
                    </div>


                </form>
                <br />
                <h4>Simulasi Antrian</h4>
                <input type="hidden" value="@Model.Idpelabuhanbantuan">
                <div class="col-md-2">
                    <select name="nojetty" id="nojettyupdate" class="form-control">
                        <option value="">Pilih jetty</option>
                        <option value="1">jetty 1</option>
                        <option value="2">jetty 2</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success btn-sm" id="updateantriansimulasi" onclick="if(confirm('Apakah anda yakin?')) UpdateAntrianAkhir();">Update Antrian</button>
                    <!-- <button class="btn btn-warning btn-sm" id="resetantrian">Reset Antrian</button>-->

                </div>
                <br><br>
                <h4>Simpan Simulasi Antrian</h4>
                <button class="btn btn-danger btn-sm" id="simpansimulasi" onclick="SimpanSimulasi()">Simpan Simulasi Antrian</button>
                <br />
                @foreach (var isi in Model.Isi)
                {

                    <h4>Status : @isi.Proses</h4>
                    <text>Posisi Kapal ini berada di: @isi.NamaPelabuhanBantuan ; @isi.NamaKapal  From : @isi.NamaAsalPelabuhan (@isi.Produk)</text>
                    <br />
                    <text>
                        Antrian :@isi.Antrian , Update Antrian : @isi.UpdateAntrian , No Jetty : @isi.Nojetty
                    </text>
                    <br />
                    <br />

                    string a = "formloading" + isi.Idshipment.ToString();
                    string id = isi.Idshipment.ToString();
                    string hidearrival = "hidearrival" + isi.Idshipment.ToString();
                    string hideberthed = "hideberthed" + isi.Idshipment.ToString();
                    string hidecomm = "hidecomm" + isi.Idshipment.ToString();
                    string hidecomp = "hidecomp" + isi.Idshipment.ToString();
                    string hideunberthed = "hideunberthed" + isi.Idshipment.ToString();
                    string hidedeparture = "hidedeparture" + isi.Idshipment.ToString();
                    string hideipt = "hideipt" + isi.Idshipment.ToString();
                    string hide = "hide" + isi.Idshipment.ToString();
                    string show = "showwaktu" + isi.Idshipment.ToString();
                    string idshipmenteditwaktu = "idshipmenteditwaktu" + isi.Idshipment.ToString();
                    string waktuarrivaledit = "waktuarrivaledit" + isi.Idshipment.ToString();
                    string waktuberthededit = "waktuberthededit" + isi.Idshipment.ToString();
                    string waktucommedit = "waktucommedit" + isi.Idshipment.ToString();
                    string waktucompedit = "waktucompedit" + isi.Idshipment.ToString();
                    string waktuunberthededit = "waktuunberthededit" + isi.Idshipment.ToString();
                    string waktudepartureedit = "waktudepartureedit" + isi.Idshipment.ToString();
                    string btnupdate = "btnupdate" + isi.Idshipment.ToString();
                    string btnbatal = "btnbatal" + isi.Idshipment.ToString();
                    string btnedit = "btnedit" + isi.Idshipment.ToString();
                    string divbantuan = "divbantuan" + isi.Idshipment.ToString();
                    string divbantuan2 = "divbantuan2" + isi.Idshipment.ToString();
                    string iptedit = "iptedit" + isi.Idshipment.ToString();

                    <form asp-action="UpdateAntrian2">
                        @if (isi.Status == "Simulasi")
                        {
                            <a class="btn btn-danger btn-sm" onclick="if(confirm('Apakah anda yakin?')) HapusShipment(@isi.Idshipment);">Hapus</a>
                            <!--<a class="btn btn-success btn-sm" onclick="EditWaktuSimulasi(@isi.Idshipment)" id="@btnedit">Edit waktu</a>
                            <a  class="btn btn-warning btn-sm" id="@btnupdate" style="display: none" onclick="if(confirm('Apakah anda yakin?')) UpdateWaktu(@isi.Idshipment);">Update waktu</a>
        <a  class="btn btn-default btn-sm" id="@btnbatal" style="display: none" onclick="BatalUpdate(@isi.Idshipment)">Batal update waktu</a>-->
                            <div class="col-md-1"><input type="text" class="form-control" asp-for="UpdateAntrian" id="isiantrian" value="@isi.UpdateAntrian"></div>
                            <a onclick="if(confirm('Apakah anda yakin?')) UpdateAntrian(@isi.Idshipment);" class="btn btn-primary btn-sm">Update antrian</a>


                        }
                    </form>
                    <br />
                    <div class="table-responsive">

                        <form id="@a">
                            <table class="table table-striped table-bordered" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%">
                                <thead>
                                    <tr role="row">
                                        <th>arrival</th>
                                        <th>berthed</th>
                                        <th>comm</th>
                                        <th>comp</th>
                                        <th>unberthed</th>
                                        <th>departure</th>
                                        <th>Tujuan</th>
                                        <th>IPT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="@id">
                                        <td>
                                            <div class="@hide" style="display: none">
                                                <input type="hidden" name="idshipmenteditwaktu" id="@idshipmenteditwaktu" class="form-control">

                                                <input type="text" name="waktuarrivaledit" onchange="SetWaktu(@isi.Idshipment)" id="@waktuarrivaledit" asp-for="@isi.Arrival" class="form-control arrival">
                                            </div>
                                            <div class="@show">@isi.Arrival</div>
                                        </td>
                                        <td>
                                            <div class="@hide" style="display: none">
                                                <input type="text" name="waktuberthededit" id="@waktuberthededit" asp-for="@isi.Berthed" class="form-control arrival">
                                            </div>
                                            <div class="@show">@isi.Berthed</div>
                                        </td>
                                        <td>
                                            <div class="@hide" style="display: none">
                                                <input type="text" readonly name="waktucommedit" id="@waktucommedit" asp-for="@isi.Comm" class="form-control arrival">
                                            </div>
                                            <div class="@show">@isi.Comm</div>
                                        </td>
                                        <td>
                                            <div class="@hide" style="display: none">
                                                <input type="text" readonly name="waktucompedit" id="@waktucompedit" asp-for="@isi.Comp" class="form-control arrival">
                                            </div>
                                            <div class="@show">@isi.Comp</div>
                                        </td>
                                        <td>
                                            <div class="@hide" style="display: none">
                                                <input type="text" readonly name="waktuunberthededit" id="@waktuunberthededit" asp-for="@isi.Unberthed" class="form-control arrival">
                                            </div>
                                            <div class="@show">@isi.Unberthed</div>
                                        </td>
                                        <td>
                                            <div class="@hide" style="display: none">
                                                <input type="text" readonly name="waktudepartureedit" id="@waktudepartureedit" asp-for="@isi.Departure" class="form-control arrival">
                                            </div>
                                            <div class="@show">@isi.Departure</div>
                                        </td>
                                        <td>
                                            @isi.NamaTujuanPelabuhan
                                        </td>
                                        <td>
                                            <div class="@hide" style="display: none">
                                                <input type="text" readonly name="iptedit" id="@iptedit" asp-for="@isi.Ipt" class="form-control">
                                            </div>
                                            <div class="@show">@isi.Ipt</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @{
                                if (isi.WaitingCargo != 0)
                                {
                                    <text> Status Waiting Cargo : @isi.WaitingCargo x 24 Jam</text>
                                }
                                else
                                {
                                    <text>  </text>
                                }
                                if (isi.WaitingUllage != 0)
                                {
                                    <text> Status Waiting Ullage : @isi.WaitingUllage x 24 Jam</text>
                                }
                                else
                                {
                                    <text>  </text>
                                }
                            }
                        </form>

                    </div>

                    <br />
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function EditWaktuSimulasi(id) {
            $("#btnedit" + id).hide();
            $(".showwaktu" + id).hide();
            $(".hide" + id).show();
            $("#btnbatal" + id).show();
            $("#btnupdate" + id).show();
        }
        function BatalUpdate(id) {
            $("#btnedit" + id).show();
            
            $("#btnbatal" + id).hide();
            $("#btnupdate" + id).hide();
        }
        function HapusShipment(id) {
           
            jQuery.ajax({
                type: "POST",
                data: id,
                url: "/Simulasi/Delete_Shipment/"+id,
                dataType: "json",
                success: function (msg) {
                    location.reload();
                }
            });
        }
        function UpdateAntrian(id) {
            var _antrian = $('#isiantrian').val();
            jQuery.ajax({
                type: "POST",
                data: "id=" + id + "&antrian=" + _antrian,
                url: "/Simulasi/Update_Antrian",
                dataType: "json",
                success: function (msg) {
                    location.reload();
                }
            });
        }
        function UpdateWaktu(id) {
            alert(id);
        }
        function SetWaktu(id) {
            var _arrival = $("#waktuarrivaledit" + id).val();
            
        }
        function SimpanSimulasi() {
            var _idpelabuhan = $('#idpelabuhanbi').val();
            var _nojetty = $('#nojettyupdate').val();
            if (_idpelabuhan == "") {
                alert("Pilih Pelabuhan Terlabih dahulu");
            } else if (_nojetty == "") {
                alert("Pilih Jetty Yang Ingin di Ubah Antriannya");
            } else {
                jQuery.ajax({
                    type: "POST",
                    data: "id=" + _idpelabuhan + "&nojetty=" + _nojetty,
                    url: "/Simulasi/Simpan_Simulasi",
                    dataType: "json",
                    success: function (msg) {
                        location.reload();
                    }
                });
            }
        }

        function UpdateAntrianAkhir() {
            var _idpelabuhan = $('#idpelabuhanbi').val();
            var _nojetty = $('#nojettyupdate').val();
            if (_idpelabuhan == "") {
                alert("Pilih Pelabuhan Terlabih dahulu");
            } else if (_nojetty == "") {
                alert("Pilih Jetty Yang Ingin di Ubah Antriannya");
            } else {
                jQuery.ajax({
                    type: "POST",
                    data: "id=" + _idpelabuhan + "&nojetty=" + _nojetty,
                    url: "/Simulasi/Update_Antrian_Akhir",
                    dataType: "json",
                    success: function (msg) {
                        location.reload();
                    }
                });
            }
        }
        $(document).ready(function () {
            $(function () {
                var a =@ViewBag.idpelab;
                if (a == 0) {
                    a = "";
                } else {
                    a = a;
                }
                $("#idpelabuhanbi").val(a);
            });
        });
    </script>
}

